*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
*.iml
.idea/
!/.idea/runConfigurations/
.idea/navigation/
captures/
.project
.classpath
.cproject/
.settings/
*.jks
*.keystore
google-services.json
*.hprof
*.trace
.DS_Store
Thumbs.db
.externalNativeBuild
.cxx
*.log
